<div class="left">
  <h1>Hello! I am Maxime</h1>
  <p>Web developer and ergonomist, I am mainly interested in the implementation and improvement of the architecture and logic that allows the different processes to be carried out successfully. </p>
  <div class="infos-left">
    <div class="inline-infos">
      <%= link_to "My CV", "#", class:'button' %>
      <%= link_to "Projects", "#" %>
    </div>
    <div class="inline-infos">
      <div class="left_column">
        <h5><%= @projects.count %></h5>
        <p>Project Done</p>
      </div>
      <div class="right_column">
        <h5>Contact</h5>
        <p>maxime.moreira@gmail.com</p>
      </div>
    </div>
  </div>
</div>
