.button {
  height: 50px;
  width: 140px;
  border-radius: 7px;
  background-color: #D64933;
  text-decoration: none;
  color: white;
  font-family: "Ubuntu", "sans-serif";
  text-align: center;
  
}
