.left {

  @media (max-width: 756px){

    width: calc(100%/2) ;

    h1 {
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
      margin-right: 1rem;
      width: 100%;
      font-weight: bold;
      font-size: 3rem;
    }

    h4 {
      font-size: 20px;
    }

    p {
      font-size: 14px;
      margin-right: 75px;
    }
  }

  @media (max-width: 596px){

    width: 100%;
    h1 {
      margin-top: 38px;
      font-weight: bold;
      font-size: 54px;
      margin-bottom: 38px;
      width: calc(100%/1.5);
    }

    h4 {
      font-size: 20px;
    }

    p {
      font-size: 14px;
      margin-right: 1rem;
    }
  }

  @media (min-width: 757px) {
    width: calc(100%/2) ;
    h1 {
      margin-top: 38px;
      margin-right: 0;
      font-weight: bold;
      font-size: 54px;
      margin-bottom: 38px;
      width: calc(100%/1.5);
    }

    h4 {
      font-size: 20px;
    }

    p {
      font-size: 14px;
      margin-right: 1rem;
    }
  }
}

.inline-infos {
  display: flex;
  justify-content: space-around;
}
