.left {
  width: calc(100%/2) ;



  h1 {
    margin-top: 38px;
    font-weight: bold;
    font-size: 54px;
    margin-bottom: 38px;
    width: calc(100%/1.5);

    @media (max-width: 756px){
    width: calc(100%/2);
    }

    @media (max-width: 596px){
      width: calc(100%/2);
    }
  }

  h4 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }
}
