.body {
  height: 100%;
  min-height: 100%;
}

.left {
  height: calc(100vh - 56px);
}

.infos-left {

  background-color: white;
  padding-left: 3rem;

  a {
    text-decoration: none;
    color: #0F0000;
  }

  #project-link {
    margin-top: 10px;
  }

  #profil {
    width: 100%;
  }

  h5 {
    font-size: 18px;
  }

  // @media (max-width: 596px){

  //   width: 100%;
  //   h1 {
  //     margin-top: 38px;
  //     font-weight: bold;
  //     font-size: 54px;
  //     margin-bottom: 38px;
  //     width: calc(100%/1.5);
  //   }

  //   h4 {
  //     font-size: 20px;
  //   }

  //   p {
  //     font-size: 14px;
  //     margin-right: 1rem;
  //   }
  // }

  @media (max-width: 999px){

    h1 {
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
      margin-right: 1rem;
      width: 100%;
      font-weight: bold;
      font-size: 3rem;
    }



    p {
      font-size: 14px;
      margin-right: 75px;
    }

    .infos-left-black {
      width: 100vw;
      height: 100%;
    }
  }


  @media (min-width: 1000px) {

    width: calc(100vw/2);
    h1 {
      margin-top: 38px;
      margin-right: 0;
      font-weight: bold;
      font-size: 54px;
      margin-bottom: 38px;
      width: calc(100%/1.5);
    }



    p {
      font-size: 14px;
      margin-right: 1rem;
    }

    .infos-left-black {
      width: calc(50vw);
      height: 100%;
    }
  }
}

.inline-infos {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1rem;
  margin-top: 20px;

  h5 {
    margin-top: 3rem;
  }
}

.infos-left-black {
  background: #262626;
  color: white;
  padding-left: 3rem;
  padding-top: 1rem;




  p {
    font-size: 14px;
    margin-right: 1rem;
  }

}
